nav {
    background-color: #333;
    padding: 1em;
    text-align: center;
}

nav button {
    background-color: #f8f8f8;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav button:hover {
    background-color: #ddd;
}

nav button:focus {
    outline: none;
    box-shadow: 0 0 3px 2px #999;
}
